aiohttp==3.8.3
aiosignal==1.3.1
amqp==5.1.1
aniso8601==9.0.1
arrow==1.2.3
asgiref==3.6.0
async-timeout==4.0.2
attrs==22.1.0
autobahn==22.12.1
Automat==22.10.0
billiard==3.6.4.0
binaryornot==0.4.4
Brotli==1.0.9
build==0.9.0
celery==5.2.7
certifi==2022.9.24
cffi==1.15.1
channels==4.0.0
chardet==5.0.0
charset-normalizer==2.1.1
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
constantly==15.1.0
cookiecutter==2.1.1
cryptography==38.0.4
cssselect2==0.7.0
daphne==4.0.0
Django==4.1
django-celery-beat==2.4.0
django-ckeditor==6.5.1
django-crispy-forms==1.14.0
django-filter==22.1
django-graphql-jwt==0.3.4
django-js-asset==2.0.0
django-model-utils==4.3.1
django-ordered-model==3.6
django-phonenumber-field==7.0.0
django-private-chat2==1.0.2
django-taggit==3.1.0
django-timezone-field==5.0
django-trench==0.3.1
django-widget-tweaks==1.4.12
djangogrpcframework==0.2.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
dnspython==2.2.1
docx==0.2.4
drf-spectacular==0.24.2
drf-spectacular-sidecar==2022.11.1
et-xmlfile==1.1.0
eventlet==0.33.3
Flask==2.2.2
fonttools==4.38.0
frozenlist==1.3.3
geoip2==4.6.0
gevent==22.10.2
graphene==3.2.1
graphene-django==3.0.0
graphene-file-upload==1.3.0
graphql-core==3.2.3
graphql-relay==3.2.0
greenlet==2.0.2
grpcio==1.51.1
grpcio-tools==1.51.1
html5lib==1.1
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
inflection==0.5.1
itsdangerous==2.1.2
Jinja2==3.1.2
jinja2-time==0.2.0
jsonify==0.5
jsonschema==4.17.0
jwt==1.3.1
kombu==5.2.4
LoginRadius-v2==11.4.0
lxml==4.9.2
mailchimp-marketing==3.0.80
MarkupSafe==2.1.1
maxminddb==2.2.0
mock==5.0.1
mongoengine==0.25.0
multidict==6.0.3
nameko==2.14.1
numpy==1.24.0
openai==0.26.5
openpyxl==3.0.10
packaging==21.3
pandas==1.5.2
path==16.6.0
path.py==12.5.0
pbkdf2==1.3
pep517==0.13.0
phonenumbers==8.13.0
Pillow==9.3.0
pip-tools==6.11.0
promise==2.3
prompt-toolkit==3.0.33
protobuf==4.21.12
psycopg2-binary==2.9.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydyf==0.5.0
PyJWT==2.6.0
pymemcache==4.0.0
pymongo==4.3.3
pyOpenSSL==22.1.0
pyotp==2.8.0
pyparsing==3.0.9
PyPDF2==3.0.0
pyphen==0.13.2
pyrsistent==0.19.2
python-crontab==2.6.0
python-dateutil==2.8.2
python-decouple==3.6
python-docx==0.8.11
python-memcached==1.59
python-slugify==6.1.2
pytz==2022.6
PyYAML==6.0
redis==4.4.0
requests==2.28.1
service-identity==21.1.0
six==1.16.0
smsapi-client==2.6.0
sqlparse==0.4.3
text-unidecode==1.3
tinycss2==1.2.1
tomli==2.0.1
tqdm==4.64.1
twilio==7.16.0
Twisted==22.10.0
txaio==22.2.1
typing_extensions==4.4.0
tzdata==2022.7
uritemplate==4.1.1
urllib3==1.26.12
vine==5.0.0
wcwidth==0.2.5
weasyprint==57.2
webencodings==0.5.1
Werkzeug==2.2.2
wrapt==1.14.1
yarl==1.8.2
yubico-client==1.13.0
zope.event==4.6
zope.interface==5.5.2
zopfli==0.2.2
